*{
    margin: 0;
    padding: 0;
    color: #F0F0F0;
    font-family: 'Work Sans', sans-serif; 
    box-sizing: border-box;
}

.navbar-toggler-icon img{
    width: 30px;
}

.nav-link {
    color: #F0F0F0;  
}

.nav-link:focus, .nav-link:hover {
    color: #2DEFCA;
}

span{
    color: #23CFAE;
}

h1{
    font-size: 30px;
    font-family: Righteous;
}

h2{
    font-size: 24px;
    font-family: Righteous;
}

p{
    font-size: 20px;
}

a{
    text-decoration: none;
    color: white;
    
}

a:hover{
    transition: 0.5s;
    color: #2DEFCA;
}

li:hover{
    transition: 0.5s;
    color: #2DEFCA;
}

body{
    background-color: #2D2D2D;
    width: 100%;
}


/*    !   NAV BAR   !    */

.icon_menu{
    display: none;
    width: 40px;
    height: 40px;
}

.logo_winsley{
    width: 200px;
    height: 50px;
    padding-left: 50px;
    position: absolute;
    top: 50px;
}
.navbar{
    margin: auto;
    width: 100%;
    height: 150px;
    background-color: #2d2d2d;
}

.navbar ul{
    width: 90%;
    position: absolute;
    height: 150px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar ul li{
    padding-left: 30px;
    font-size: 18px;
}

/*        HEADER      */

header{
    width: 100%;
    height: 700px;
    background-image: url(img/background/Background\ image.jpg);
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
    height: 500px;
}
/*     PROFIL      */


.profil{
    position: absolute ;
    background-color: #292929;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    margin-top: 200px;
}

.informations{
    text-align: center;
    width: 350px;
    height: 350px;
    padding: 100px 20px 0px 20px
}

.h1_winsley{
    padding-top: 5px;
}

.p_webdesigner{
    padding-top: 10px;
    padding-bottom: 30px;
}

.logo_profil{
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: flex-end;
}

a:hover .l_linkedin, a:hover .l_siteweb, a:hover .l_fb,
a:hover .l_linkedin2, a:hover .l_siteweb2, a:hover .l_fb2{
    
    background-color: #23CFAE;
}

.l_linkedin, .l_siteweb, .l_fb{
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #F0F0F0;
}

/*      RESPONSIVE ACCUEIL      */
/*      RESPONSIVE ACCUEIL      */

@media (max-width: 990px){
    .navbar ul{
        width: 87%;
        position: absolute;
        height: 150px;
        list-style-type: none;
        display: flex;
        align-items: flex-end;
        margin-top: 120px;
    }
}

@media (max-width: 1120px ) {

    .logo_winsley{
        width: 170;
        height: 40;
        position: absolute;
        top: 50px;    
    }
    .navbar ul li{
        font-size: 16px;
     }
}

@media (max-width: 600px ){
    
    .container img{
        margin-top: 100px;
        width: 180px;
        height: 180px;
        border: solid 7px #2DEFCA;
    }
    
    .profil{
        width: 250px;
        height: 250px;
        margin-top: 200;
    }
    
    .informations{
        width: 250px;
        height: 250px;
        padding: 100px 20px 0px 20px
    }

    .l_linkedin, .l_siteweb, .l_fb{
        margin: 0px 10px;
        width: 35px;
        height: 35px;
        border: 2px solid #F0F0F0;
    }

    svg{
        width: 15px;
        height: 15px;
    }

    .h1_winsley{
        font-size: 20px;
    }
    
    .p_webdesigner{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    p{
        font-size: 14px;
    }
}

/*        A PROPOS      */

.container_about{
    width: 70%;
    margin: auto;
}

.aboutme{
    width: 100%;
    text-align: center;
    position: relative;
}

.aboutme h1{
    padding: 50px 0px
}

/*     PERSONNELS       */

.personnels{
    position: absolute;
    overflow: hidden ;
    margin-top: 100px;
    width: 40%;
}

.personnels h2{
    margin-bottom: 40px;
}

.infos_1{
    display: flex;
    flex-flow: column wrap;
    padding: 60px 50px 0px 50px;
    width: 40px;
}

.site {
    padding-left: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}

.infos_1 p{
    padding-bottom: 40px;
}


.icone_p{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 30px;
}

.icone_p svg{
    width: 20px;
}

.icone_p p{
    padding-left: 20px;
    font-style: italic;
}

/*       INTERETS        */

.intérêts h2{
   margin-bottom: 30px;
}

.intérêts{
    display: flex;
    flex-flow: column wrap;
    margin-top: 100px;
    margin-left: 60%;
    width: 40%;
}

.all_loisirs{
    display: flex;
    width: 100%;
    height: 40%;
    padding-top: 20px;
}


.loisir_1{
    width: 120px;
    height: 100px;
    border-radius: 10px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name{
    display: flex;
    align-items: center;
    flex-flow: column ;
    padding: 0px 50px 0px 0px ;
}
.name p{
    padding-top: 10px;
    color: #23CFAE;
}

/*      RESPONSIVE  A PROPOS     */
/*      RESPONSIVE  A PROPOS     */

/*      PERSONNELS     */

@media (max-width: 950px) {

    h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 20px;
    }


    .personnels{
        margin-top: 100px;
        width: 70%;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
    }
    
    .personnels span{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .site {
        font-size: 20px;
        padding-bottom: 50px;
    }
    
    .infos_1 p{
        width: 100%;
        padding-bottom: 40px;
    }
    
    .icone_p{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        flex-flow: column wrap;
    }
    
    .icone_p svg{
        width: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .icone_p p{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
        padding: none;
    }

    .intérêts{
        display: none;
    }

}

@media (max-width: 600px) {

    h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 20px;
    }


    .personnels{
        margin-top: 100px;
        width: 70%;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
    }
    
    .site {
        font-size: 14px;
    }
    
    .infos_1 p{
        width: 100%;
        padding-bottom: 40px;
    }
    
    .icone_p{
        padding-top: 30px;
        flex-flow: column wrap;
    }
    
    .icone_p svg{
        width: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    .icone_p p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 5px;
    }

    .intérêts{
        display: none;
    }
   
}

  /*     RESPONSIVE INTERETS     */

  @media (max-width: 1070px ){

    .loisir_1{
        width: 100px;
    }

    .loisir_1 img{
        width: 50px;
    }
  }


  @media (max-width: 820px ){

    .loisir_1{
        width: 120px;
    }
    
  }

  @media (max-width: 950px ){

    .loisir_1{
        width: 120px;
    }

    .loisir_1 img{
        width: 50px;
    }
      
    .intérêts h2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
     }
     
     .intérêts{
         display: flex;
         flex-flow:  wrap;
         padding-top: 950px;
         margin: auto;
        width: 70%;
     }

     .all_loisirs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 200px;
        padding-top: 20px;
        margin: auto;
    }

    .name p{
        padding: 20px 0 20px 0px;
        color: #23CFAE;
    }

    .name{
        display: flex;
        align-items: center;
        flex-flow: column ;
        padding: 0 ;
    }
}

@media (max-width: 820px){

    .intérêts{
        display: flex;
        flex-flow:  wrap;
        margin: auto;
       width: 70%;
    }

    .all_loisirs{
        width: 50px;
        padding-top: 20px;
        margin: auto;
    }

    .intérêts img{
        width: 40px;
    }

    .loisir_1{
        width: 90px;
        height: 70px;
    }

    .name p{
        font-size: 12px;
    }

    .name{
        padding: 0 ;
    }
}

@media (max-width: 600px){

    .intérêts{
        display: flex;
        flex-flow:  wrap;
        margin: auto;
       width: 80%;
    }

    .all_loisirs{
        width: 50px;
        padding-top: 20px;
        margin: auto;
    }

    .intérêts img{
        width: 50px;
    }

    .intérêts h2 {
        margin-top: 80;
    }
    
    .loisir_1{
        width: 90;
        height: 80;
    }

    .name p{
        font-size: 12px;
    }

    .name{
        padding: 0 ;
    }
}

/*      COMPETENCES     */

.container_comp{
    width: 70%;
    margin: auto;
    height: 1000px;
}

.competences{
    margin: auto;
    width: 100%;
    padding-top: 150px;
    height: 1000px;
}

.competences h1{
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.competences h2{
    padding: 0px 0px 50px 0px;
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

/*      INFORMATIQUES     */


.informatiques{
    margin-top: 100px;
    width: 50%;
    height: 500px;
}

.informatiques h2{
    width: 100%;
}


.comp_dev{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
}

.progress{
    background-color: #2d2d2d;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 10px 20px 20px 0px;
    border-radius: 10px;
    background-color: none;
}

.progress p{
    padding-top: 20px;
}

.progress img{
  width: 120px;
  height: 120px;

}

/*      FRAMEWORKS     */

.frameworks{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    width: 100px;
    height: 100px;
    margin: 10px 20px 20px 0px;
    border-radius: 10px;
}

.logi_frame{
    left: 60%;
    position: relative;
    width: 40%;
    height: 500px;
    bottom: 500px;
}

.logi_frame h2{
    padding: 0px 0px 50px 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/*       RESPONSIVE COMPETENCES INFORMATIQUES   */


@media (max-width:950px){
    .frameworks{
        margin: auto;
        width: 90%;
    }
}

@media (max-width: 1900px){

    .comp_dev{
        width: 700px;
    }

    .frameworks{
      width: 500px;
    }
}

@media (max-width: 1475px){

    .comp_dev{
        width: 600px;
    }
    .progress{
        width: 150px;
        margin: 10px 20px 20px 0px;
    }
    
    .progress img{
      width: 100px;
      height: 100px;
    
    }

    .frameworks{
        width: 400px;
      }

    .item{
        width: 80px;
        height: 80px;
    }

    .item img{
        width: 40px;
    }
    
    .logi_frame{
        left: 60%;
        position: relative;
        width: 40%;
        height: 500px;
        bottom: 500px;
    }
    
}


@media (max-width: 1130px){

    .comp_dev{
        width: 400px;
    }

    .progress{
        display: flex;
        width: 150px;
        margin: 10px 20px 20px 0px;
    }
    
    .progress img{
      width: 100px;
      height: 100px;
    
    }

    .frameworks{
        width: 400px;
      }

    .item{
        width: 80px;
        height: 80px;
    }
     
}


@media (max-width: 950px){

    .comp_dev{
        width: 600px;
    }

    .competences{
        padding-top: 50px;
    }

    .informatiques{
        margin-top: 50px;
        width: 100%;
        height: 250;
    }
    
    .informatiques h2{
      margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
      .comp_dev{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

}

@media (max-width: 730px ){


    .container_comp{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .comp_dev{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        margin: auto;
    }

    .progress{
        display: flex;
        width: 150px;
        margin: 10px 20px 20px 0px;
    }
    
    .progress img{
      width: 100px;
      height: 100px;
    
    }

    .item{
        width: 80px;
        height: 80px;
    }
    
    .logi_frame{
        width: 100%;
    }
}

@media (max-width: 600px ){

    .comp_dev{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: auto;
    }

    .progress{
        display: flex;
        width: 100px;
        margin: 10px 20px 20px 0px;
        height: 110px;
    }
    
    .progress img{
        width: 50px;
        height: 50px;
      
      }
  
      .frameworks{
        display: flex;
        justify-content: center;
        width: 90%;
        }
  
      .item{
          width: 50px;
          height: 50px
      }
      
      .logi_frame{
          width: 100%;
      }
}

@media (max-width: 359px ){

    .logi_frame h2{
        margin-top: 80px;
    }
    .container_exp h1{
        margin-top: 100px;
    }
}

@media (max-width: 337px){
    
    .container_exp h1 {
        margin-top: 300px;
    }
}

@media (max-width: 374px ){
    .frameworks{
        width: 100%;
        }

}

@media (max-width: 450px){

    .comp_dev{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: auto;
    }

}

/*       RESPONSIVE FRAMEWORKS    */

@media (max-width: 950px ){

    .logi_frame{
        left: 0;
        margin: auto;
        position: relative;
        top: 350;
        width: 80%;
    }

    .logi_frame h2{
        display: flex;
        justify-content: center;
    }
     
}

@media (max-width: 600px ){
    

    .logi_frame{
        left: 0;
        margin: auto;
        position: relative;
        top: 200;
    }

    .item{
        width: 70px;
        height: 70px;
    }

    .item img{
        width: 30px;
    }
     
}

/*        EXPERIENCES         */

.container_exp{
    width: 70%;
    margin: auto;
}

.container_exp h1{
    display: flex;
    justify-content: center;
}

.formation{
    width: 40%;
    float: right;
    margin-right: 120px;
}

.formation .icone_forma{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 100px 0px 50px 0px;
}

.formation .icone_forma img{
    height: 30px;
    padding-left: 20px;
}

.container_infos{
    height: 280px;
    overflow: hidden;
    padding: 20px;
    background-color: #212121;
    border-radius: 10px;
    margin-bottom: 40px;
}

.btn{
    margin-top: 5px;
}

.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-primary:hover {
    color: rgb(32, 32, 32);
    background-color: #23CFAE;
    border:#fff;
}

.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: transparent;
    box-shadow: 0 0 0 .25rem transparent
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}


.name_date{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.date{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 0px 20px;
    border-radius: 50px;
    background-color: #2D2D2D;
}

.p_italic{
    font-style: italic;
    font-weight: lighter;
    font-size: 18px;
}

.container_infos span{
    font-size: 20px;
}

/*         EXPERIENCES PRO      */

.exp_pro{
    width: 40%;
}

.icone_forma{
    display: flex;
    flex-flow: row wrap;
    padding: 100px 0px 50px 0px;
}

.icone_forma img{
    padding-left: 20px;
}

.barre{
    width: 15px;
    border-radius: 50px;
    height: 1240px;
    background-color: #1d1d1d;
    float: inline-start;
    position: absolute;
    margin-left: 31.5%;
    margin-top: 185;
}

.barre2{
    width: 15px;
    border-radius: 50px;
    height: 1240px;
    background-color: #1d1d1d;
    float: inline-start;
    position: absolute;
    margin-left: 66.5%;
    margin-top: 185;
}

.zone{
    position: absolute;
    display: flex;
    margin-top: 60;
    position: relative;
    left: calc(50% - 15px);
    width: 30px;

}

.zone2{
    position: absolute;
    display: flex;
    position: relative;
    margin-top: 290px;
    left: calc(50% - 15px);
    width: 30px;

}

.zone3{
    position: absolute;
    display: flex;
    position: relative;
    margin-top: 290px;
    left: calc(50% - 15px);
    width: 30px;

}

.zone4{
    position: absolute;
    display: flex;
    position: relative;
    left: calc(50% - 15px);
    width: 30px;
    margin-top: 290px;

}

.zone5{
    position: absolute;
    display: flex;
    margin-top: 60;
    position: relative;
    left: calc(50% - 15px);
    width: 30px;

}

.zone6{
    position: absolute;
    display: flex;
    position: relative;
    margin-top: 290px;
    left: calc(50% - 15px);
    width: 30px;
}
.zone7{
    position: absolute;
    display: flex;
    position: relative;
    margin-top: 290px;
    left: calc(50% - 15px);
    width: 30px;

}
.zone8{
    position: absolute;
    display: flex;
    position: relative;
    left: calc(50% - 15px);
    width: 30px;
    margin-top: 290px;

}

.circle{
    border: 7px solid #2DEFCA;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

/* RESPONSIVE EXPERIENCES */ 

@media (max-width: 1640px){

    .container_infos{
        height: 340px;
    }

    .barre, .barre2{
        height: 1480;
    }

    .zone{
        position: absolute;
        display: flex;
        margin-top: 60;
        position: relative;
        left: calc(50% - 15px);
        width: 30px;
    
    }
    
    .zone2{
        position: absolute;
        display: flex;
        position: relative;
        margin-top: 350;
        left: calc(50% - 15px);
        width: 30px;
    
    }
    
    .zone3{
        position: absolute;
        display: flex;
        position: relative;
        margin-top: 350;
        left: calc(50% - 15px);
        width: 30px;
    
    }
    
    .zone4{
        position: absolute;
        display: flex;
        position: relative;
        left: calc(50% - 15px);
        width: 30px;
        margin-top: 350;
    
    }
    
    .zone5{
        position: absolute;
        display: flex;
        margin-top: 60;
        position: relative;
        left: calc(50% - 15px);
        width: 30px;
    
    }
    
    .zone6{
        position: absolute;
        display: flex;
        position: relative;
        margin-top: 350;
        left: calc(50% - 15px);
        width: 30px;
    }
    .zone7{
        position: absolute;
        display: flex;
        position: relative;
        margin-top: 350;
        left: calc(50% - 15px);
        width: 30px;
    
    }
    .zone8{
        position: absolute;
        display: flex;
        position: relative;
        left: calc(50% - 15px);
        width: 30px;
        margin-top: 350;
    
    }
 
}

@media (max-width: 500px){
    .container_infos {
        height: auto
    }
}

@media  (max-width: 1400px ){

    .formation{
        margin-right: 80px;
    }
}

@media  (max-width: 1090px ){

    .formation{
        margin-right: 70;
    }
}

@media  (max-width: 1360px ){

    .icone_forma h2 {
        font-size: 20px;
    }
}


@media  (max-width: 1170px ){

    .icone_forma{
        width: 50px;
        display: flex;
        flex-flow: row;
        padding-bottom: 32;
    }

    .container_infos p{
        font-size: 15px;
    }
    
    .container_infos span{
        font-size: 16px;
    }

}

@media  (max-width: 1130px ){

    .container_exp{
        padding-top: 200px;
    }

}

/* RESPONSIVE EXPERIENCES 950px */ 

@media  (max-width: 950px ){

    .container_infos {
        height: auto;
    }

    .barre,.barre2, .zone, .zone2, .zone3, .zone4,
    .zone5, .zone6, .zone7, .zone8{
        display: none
    }
    .container_exp{
        margin-top: 150;
    }

    .formation{
        float: none;
        width: 100%;
    }

    .exp_pro {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
    }

    .formation .icone_forma {
        width: 40%;
        margin: auto;
    }

    .icone_forma {
        justify-content: center;
        display: flex;
        flex-flow: row;
        padding: 20px 0px 50px 0px;
        width: 50%;
        margin: auto;
    }

    .icone_forma img {
        width: 50px;
    }

    .icone_forma h2 {
        font-size: 20px;
        width: 50%;
    }
}

@media  (max-width: 600px){

    .container_exp {
        margin-top: 0px;
    }

    .formation .icone_forma {
        width: 80%;
    }

    .icone_forma {
        width: 100%;
    }
}

/*      PORTFOLIO      */

.container_folio{
    width: 70%;
    margin: auto;
}

.container_folio h1{
    padding: 50px 0px 80px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
}



/*      CONTACT      */

form{
    width: 50%;
    float: left;
    height: 500px;
    
}

.container_contact{
    padding: 80px 0px 50px 0px;
    width: 70%;
    height: 600px;
    margin: auto;
}

.container_contact h1{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 0px 80px 0px;
}

input::placeholder {
    color: #F0F0F0;
    font-style: italic;
    font-family: 300;
  }

input{
    width: 80%;
    background-color: rgba(78, 78, 78, 0);
    border: none;
    height: 40px;
    margin-left: 60px;
}

.name_contact{
    border: 1px solid;
    margin-bottom: 50px;
    background-color: #212121;
    width: 89%;
    height: 40px;
    border-radius: 10px;
}

.icone1_contact{
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 50px;
    height: 40px;
    background-color: #F0F0F0;
}

.icone1_contact img{
    width: 20px;
}

.p_contact{
    font-size: 24px;
    text-align: center;
    color: #212121;
    font-weight: bold;
}

textarea{
    width: 94%;
    background-color: #212121;
    height: 180;
    font-weight: 300;
    font-style: italic;
    border-radius: 0px 10px 10px 0px;
    margin-left: 50px;
    padding: 5px 20px;
}

.name_contact2{
    margin-bottom: 50px;
    background-color: #212121;
    width: 87%;
    height: 180px;
    border-radius: 10px;
}

.icone3_contact{
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
    height: 180px;
    background-color: #F0F0F0;
}

.icone3_contact img{
    width: 25px;
    margin-top: 15px;
}

.container_info_c{
    padding: 0px 20px;
    position: absolute;
    margin-left: 40%;
    margin-top: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*    LOGO FOOTER     */

footer{
    padding-top: 20px;
    margin-top: 300;
    background-color: #1d1d1d;
    width: 100%;
    height: 70px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.icone_contact{
    display: flex;
    
}

.l_linkedin2,.l_siteweb2,.l_fb2{
    margin: 0px 10px;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
border-radius: 50%;
padding: 5px;
border: 2px solid #F0F0F0;
margin-left: 10px;
}

.p_foot{
    width: 230px;
    font-style: italic;
    font-weight: 300;
}
a.p_foot{
    font-size: 20px;
}

.p_foot2{
    font-style: italic;
    font-weight: 300;
}

.droit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
}

.droit p{
    padding-top: 15px;
    font-size: 14px;
}

input:focus {
    outline:  none;
}
.container_envoyer{
    width: 90%;
    display: flex;
    justify-content: center;
}

.envoyer{
    width: 30%;
    background-color: #1d1d1d;
    border: 1px solid #F0F0F0;
    border-radius: 10px;
}
.envoyer1{
    width: 100%;
    margin: 0;
}

.envoyer1:hover {
    transition: 0.5s 0ms;
    color: #1d1d1d;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.icone_p2{
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 20px;
    padding-top: 20px;
}

.icone_p2 svg{
    width: 20px;
}

.icone_p2 p{
    padding-left: 20px;
    font-style: italic;
}

.container_all_foot{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.logo_footer{
    width: 250px;
}

/*     RESPONSIVE CONTACT    */

@media (max-width: 950px){

    .icone_p2 svg {
        width: 20px;
        margin: 0 0 10px 20px;
    }

    form{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        float: none;
        }

        .name_contact2{
            width: 89%;
        }
    
        .container_info_c{
            position: none;
            margin-left: 0;
            margin-top: 30px;
            width: 70%;
            height: 80;
            display: flex;
            flex-direction: row;
            justify-content: center; 
        }
    
        .icone_p2 {
            justify-content: center;
            padding-bottom: 250px;
        }

        .icone_p2 p {
            font-size: 15px;
        }

        .icone_p2 a {
            font-size: 15px;
        }
}

@media (max-width: 740px){

    .container_info_c{
        position: none;
        margin-left: 0;
        margin-top: 30px;
        width: 87%;
        margin-top: 150px;
        height: 150;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .container_contact {
        width: 90%;
    }

    .icone_p2 {
        margin-bottom: 20px;
        justify-content: center;
        padding-bottom: 0px;
        display: flex;
        flex-direction: column ;
        align-items: center;
    }

    @media (max-width: 545px){

        input {
            width: 60%;
        }

}

/*     RESPONSIVE CONTACT FOOTER   */

@media (max-width: 950px){

    footer{
        margin-top: 280px;
    }

    .p_foot{
        font-size: 15px;
    }

    a.p_foot {
        font-size: 15px;
    }

    .p_foot2 {
        font-size: 15px;
    }

    .l_linkedin2, .l_siteweb2, .l_fb2{
         width: 25px;
         height: 25px;
         padding: 5px;
         border: 1px solid #F0F0F0;
    }

    img, svg {
        vertical-align: middle;
        width: 25px;
   } 

   .droit p {
    font-size: 10px;
    }
}

@media (max-width: 740px){

    footer {
        margin-top: 550px;

    }
}

@media (max-width: 600px){


    .p_foot{
        font-size: 10px;
    }

    a.p_foot {
        font-size: 10px;
    }

    .p_foot2 {
        font-size: 10px;
    }

    .l_linkedin2, .l_siteweb2, .l_fb2{
         width: 17px;
         height: 17px;
         padding: 5px;
         border: 1px solid #F0F0F0;
         margin: 0px 3px;
    }

    img, svg {
        vertical-align: middle;
        width: 25px;
   } 

   .droit p {
    font-size: 8px;
    }
}